img {
    border: solid 3px black;
}

button {
    border-radius: 30px !important;
}

button:hover {
    background-color: #8884FF;    
}

div.card {
    border: none;
    background: none;
}

* {
    font-family: 'Noto Serif TC', serif;
}

.container {
    background-color: rgba(136,132,255, 0.2);
    max-width: 1050px;
    padding: 20px;
    margin: auto;      
}

h3 {
    display: block;
    font-size: 30px;
    background-color: rgb(246, 81, 29);
    padding: 20px;   
}

.btn {
    background-color: rgb(246, 81, 29);
}

h2 {
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
}
 
img {
    -webkit-box-shadow: 1px 3px 16px 9px rgba(0,0,0,1);
    -moz-box-shadow: 1px 3px 16px 9px rgba(0,0,0,1);
    box-shadow: 1px 3px 16px 9px rgba(0,0,0,1);
}

button.nero {
    border: 4px solid #000000 !important;

}

img.size {
    width: 200;

}




